{% load static %}


<footer class="bg-gray-800 py-12">
        <div class="container mx-auto px-4">
            <div class="grid grid-cols-1 md:grid-cols-4 gap-8 mb-8">
                <div>
                    <h3 class="text-lg font-bold mb-4">GAMES</h3>
                    <ul class="space-y-2">
                        <li><a href="https://eu.shop.battle.net/en-us/family/overwatch" class="text-gray-400 hover:text-white">Overwatch 2</a></li>
                        <li><a href="https://eu.shop.battle.net/en-us/family/world-of-warcraft" class="text-gray-400 hover:text-white">World of Warcraft</a></li>
                        <li><a href="https://eu.shop.battle.net/en-us/family/diablo-iv" class="text-gray-400 hover:text-white">Diablo IV</a></li>
                        <li><a href="https://eu.shop.battle.net/en-us/family/hearthstone" class="text-gray-400 hover:text-white">Hearthstone</a></li>
                    </ul>
                </div>
                <div>
                    <h3 class="text-lg font-bold mb-4">SHOP</h3>
                    <ul class="space-y-2">
                        <li><a href="https://eu.shop.battle.net/en-us/product/overwatch-widowmaker-mythic-weapon-skin-bundle" class="text-gray-400 hover:text-white">Shop Home</a></li>
                        <li><a href="https://us.shop.battle.net/en-us/product/balance#optLogin=true" class="text-gray-400 hover:text-white">Gift Cards</a></li>
                        <li><a href="https://us.battle.net/support/en/article/11263" class="text-gray-400 hover:text-white">Redeem Code</a></li>
                        <li><a href="https://us.battle.net/support/en/article/167168" class="text-gray-400 hover:text-white">My Orders</a></li>
                    </ul>
                </div>
                <div>
                    <h3 class="text-lg font-bold mb-4">SUPPORT</h3>
                    <ul class="space-y-2">
                        <li><a href="https://eu.battle.net/support/en/" class="text-gray-400 hover:text-white">Support</a></li>
                        <li><a href="https://www.blizzard.com/en-us/company/contact" class="text-gray-400 hover:text-white">Contact Us</a></li>
                        <li><a href="https://www.blizzard.com/en-us/legal/58e4a812-afd0-4d47-b34d-d4fdf99e41cb/blizzard-refund-policy" class="text-gray-400 hover:text-white">Returns</a></li>
                        <li><a href="https://account.battle.net/login/cookies" class="text-gray-400 hover:text-white">Cookie Policy</a></li>
                    </ul>
                </div>
                <div>
                    <h3 class="text-lg font-bold mb-4">CONNECT</h3>
                    <div class="flex space-x-4 mb-4">
                        <a href="https://www.facebook.com/battlenet"><img src="https://img.icons8.com/?size=100&id=118501&format=png&color=000000" alt="Facebook" class="h-6"></a>
                        <a href="https://twitter.com/battlenet"><img src="https://img.icons8.com/?size=100&id=bG29Ckcdp6YP&format=png&color=000000" alt="Twitter" class="h-6"></a>
                        <a href="https://www.youtube.com/"><img src="https://img.icons8.com/?size=100&id=19318&format=png&color=000000" alt="YouTube" class="h-6"></a>
                        <a href="https://instagram.com/battlenet"><img src="https://img.icons8.com/?size=100&id=bh8L0hocH1mA&format=png&color=000000" alt="Instagram" class="h-6"></a>
                    </div>
                   <a href="https://www.blizzard.com/"> <button class="bg-gray-700 hover:bg-gray-600 px-4 py-2 rounded flex items-center space-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 48 48">
                        <circle cx="24" cy="26" r="20"></circle><circle cx="24" cy="24" r="19" fill="#fff"></circle><path d="M24,44C12.972,44,4,35.028,4,24S12.972,4,24,4s20,8.972,20,20S35.028,44,24,44z M24,6C14.075,6,6,14.075,6,24	s8.075,18,18,18s18-8.075,18-18S33.925,6,24,6z"></path><circle cx="25" cy="17" r="3"></circle><path d="M27.728,32.514c-0.15-0.532-0.705-0.841-1.234-0.689L25.521,32.1l1.391-8.48c0.057-0.346-0.071-0.695-0.337-0.922	c-0.266-0.228-0.632-0.3-0.963-0.189l-5.716,1.891c-0.524,0.173-0.809,0.739-0.635,1.263c0.173,0.524,0.74,0.81,1.263,0.635	l4.147-1.372l-1.378,8.403c-0.055,0.338,0.066,0.68,0.321,0.908c0.186,0.166,0.423,0.254,0.666,0.254	c0.091,0,0.183-0.012,0.272-0.038l2.487-0.705C27.57,33.598,27.879,33.045,27.728,32.514z"></path><path d="M22.392,24.537l-1.184,8.226c-0.214,1.247,0.926,2.301,2.152,1.991l1.711-0.447l0.792-10.85L22.392,24.537z"></path>
                        </svg>
                    <span>Learn More About Us</span>
                </button></a>
                </div>
            </div>
            <div class="border-t border-gray-700 pt-8">
                <div class="flex flex-col md:flex-row justify-between items-center">
                    <div class="flex items-center space-x-4 mb-4 md:mb-0">
                        <a href="https://www.blizzard.com/privacy" class="text-sm text-gray-400 hover:text-white">Privacy</a>
                        <a href="https://www.blizzard.com/tou" class="text-sm text-gray-400 hover:text-white">Terms</a>
                        <a href="https://account.battle.net/login/cookies#settings" class="text-sm text-gray-400 hover:text-white">Cookie Settings</a>
                    </div>
                    <p class="text-sm text-gray-400">©2023 Blizzard Entertainment, Inc. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>