{% load static %}

<nav class="bg-black bg-opacity-90 text-gray-400 py-4 px-6 flex items-center justify-between sticky top-0 z-50">
        <div class="flex items-center space-x-8">
            <a href="https://us.shop.battle.net/en-us" class="text-2xl font-bold text-blue-400 2xl:items-center">BATTLE.NET</a>
            <div class="hidden space-x-8 lg:hidden xl:flex">
                <!-- Warcraft -->
                <li class="relative group leading-[56px] hover:text-orange-300">
                    <a href="#">
                        Warcraft
                        <div class="absolute opacity-0 invisible group-hover:opacity-100 group-hover:visible top-full w-[245px] h-[290px] px-3 py-0 space-y-2 text-zinc-700 bg-gray-700 dark:bg-zinc-700 dark:text-white text-base border-t-[3px] border-t-orange-300 tracking-normal shadow-main rounded-2xl transition-all">
                            <a class="block transition-colors text-gray-300  hover:text-orange-300" href="https://eu.shop.battle.net/en-us/family/world-of-warcraft">
                                <img src="https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/blt38fbd5bc534f9d8d/666b3646e3720f794c00428c/-Bnet_Game-Shop_Icon-EN-1080x1080.svg" alt="" class="w-[35px] inline-block ">
                                World Of Warcraft
                                <span class="text-xs block text-gray-400">Massiveli MultiPlayer RPG</span>
                            </a>
                            <hr>
                            <a class="block transition-colors hover:text-orange-300 text-gray-300" href="https://eu.shop.battle.net/en-us/family/world-of-warcraft-classic">
                                <img src="https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/blt38fbd5bc534f9d8d/666b3646e3720f794c00428c/-Bnet_Game-Shop_Icon-EN-1080x1080.svg" alt="" class="w-[35px] inline-block ">
                                World Of Warcraft Classic
                                <span class="text-xs block text-gray-400">Massiveli MultiPlayer RPG</span>
                            </a>
                            <hr>
                            <a class="block transition-colors hover:text-orange-300 text-gray-300" href="https://eu.shop.battle.net/en-us/family/warcraft-rumble">
                                <img src="https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/blt38fbd5bc534f9d8d/666b3646e3720f794c00428c/-Bnet_Game-Shop_Icon-EN-1080x1080.svg" alt="" class="w-[35px] inline-block ">
                                Warcraft Rumble
                                <span class="text-xs block text-gray-400">Action Strategy</span>
                            </a>
                            <hr>
                            <a class="block transition-colors hover:text-orange-300 text-gray-300" href="https://eu.shop.battle.net/en-us/family/hearthstone">
                                <img src="https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/blt38fbd5bc534f9d8d/666b3646e3720f794c00428c/-Bnet_Game-Shop_Icon-EN-1080x1080.svg" alt="" class="w-[35px] inline-block ">
                                HeartStone
                                <span class="text-xs block text-gray-400">Strategy Card Game</span>
                            </a>
                            <hr>
                            <a class="block transition-colors hover:text-orange-300 text-gray-300" href="https://eu.shop.battle.net/en-us/family/warcraft-rts">
                                <img src="https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/blt38fbd5bc534f9d8d/666b3646e3720f794c00428c/-Bnet_Game-Shop_Icon-EN-1080x1080.svg" alt="" class="w-[35px] inline-block ">
                                Warcraft
                                <span class="text-xs block text-gray-400">Real-Time Strategy</span>
                            </a>
                        </div>
                    </a>
                </li>
                <!-- Diablo -->
                <li class="relative group leading-[56px] hover:text-orange-300">
                    <a href="#">
                        Diablo
                        <div class="absolute opacity-0 invisible group-hover:opacity-100 group-hover:visible top-full w-[245px] h-[290px] px-3 py-0 space-y-2 text-zinc-700 bg-gray-700 dark:bg-zinc-700 dark:text-white text-base border-t-[3px] border-t-orange-300 tracking-normal shadow-main rounded-2xl transition-all">
                            <a class="block transition-colors text-gray-300  hover:text-orange-300" href="https://eu.shop.battle.net/en-us/family/diablo-iv">
                                <img src="https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/blt38fbd5bc534f9d8d/666b3646e3720f794c00428c/-Bnet_Game-Shop_Icon-EN-1080x1080.svg" alt="" class="w-[35px] inline-block ">
                                Diablo IV
                                <span class="text-xs block text-gray-400">Action RPG</span>
                            </a>
                            <hr>
                            <a class="block transition-colors hover:text-orange-300 text-gray-300" href="https://eu.shop.battle.net/en-us/family/diablo-immortal">
                                <img src="https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/blt38fbd5bc534f9d8d/666b3646e3720f794c00428c/-Bnet_Game-Shop_Icon-EN-1080x1080.svg" alt="" class="w-[35px] inline-block ">
                                Diablo Immortal
                                <span class="text-xs block text-gray-400">Action RPG</span>
                            </a>
                            <hr>
                            <a class="block transition-colors hover:text-orange-300 text-gray-300" href="https://eu.shop.battle.net/en-us/family/diablo-iii">
                                <img src="https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/blt38fbd5bc534f9d8d/666b3646e3720f794c00428c/-Bnet_Game-Shop_Icon-EN-1080x1080.svg" alt="" class="w-[35px] inline-block ">
                                Diablo III
                                <span class="text-xs block text-gray-400">Action RPG</span>
                            </a>
                            <hr>
                            <a class="block transition-colors hover:text-orange-300 text-gray-300" href="https://eu.shop.battle.net/en-us/family/diablo-ii">
                                <img src="https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/blt38fbd5bc534f9d8d/666b3646e3720f794c00428c/-Bnet_Game-Shop_Icon-EN-1080x1080.svg" alt="" class="w-[35px] inline-block ">
                                Diablo II: Resurrected
                                <span class="text-xs block text-gray-400">Action RPG</span>
                            </a>
                            <hr>
                            <a class="block transition-colors hover:text-orange-300 text-gray-300" href="https://eu.shop.battle.net/en-us/family/diablo">
                                <img src="https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/blt38fbd5bc534f9d8d/666b3646e3720f794c00428c/-Bnet_Game-Shop_Icon-EN-1080x1080.svg" alt="" class="w-[35px] inline-block ">
                                Diablo
                                <span class="text-xs block text-gray-400">Action RPG</span>
                            </a>
                        </div>
                    </a>
                </li>
                <!-- OverWatch -->
                <li class="relative group leading-[56px] hover:text-orange-300">
                    <a href="#">
                        Overwatch
                        <div class="absolute opacity-0 invisible group-hover:opacity-100 group-hover:visible top-full w-[220px] h-[65px] px-3 py-0 space-y-2 text-zinc-700 bg-gray-700 dark:bg-zinc-700 dark:text-white text-base border-t-[3px] border-t-orange-300 tracking-normal shadow-main rounded-2xl transition-all">
                            <a class="block transition-colors text-gray-300  hover:text-orange-300" href="https://eu.shop.battle.net/en-us/family/overwatch">
                                <img src="https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/blt38fbd5bc534f9d8d/666b3646e3720f794c00428c/-Bnet_Game-Shop_Icon-EN-1080x1080.svg" alt="" class="w-[35px] inline-block ">
                                Overwatch 2
                                <span class="text-xs block text-gray-400">Team-Based Action Game</span>
                            </a>
                        </div>
                    </a>
                <!-- Call Of Duty -->
                <li class="relative group leading-[56px] hover:text-orange-300">
                    <a href="#">
                        Call Of Duty
                        <div class="absolute opacity-0 invisible group-hover:opacity-100 group-hover:visible top-full w-[245px] h-[460px] px-3 py-0 space-y-2 text-zinc-700 bg-gray-700 dark:bg-zinc-700 dark:text-white text-base border-t-[3px] border-t-orange-300 tracking-normal     shadow-main rounded-2xl transition-all">
                            <a class="block transition-colors text-gray-300  hover:text-orange-300" href="https://eu.shop.battle.net/en-us/family/call-of-dutyhttps://eu.shop.battle.net/en-us/family/call-of-duty">
                                <img src="https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/blt38fbd5bc534f9d8d/666b3646e3720f794c00428c/-Bnet_Game-Shop_Icon-EN-1080x1080.svg" alt="" class="w-[35px] inline-block ">
                                Black Ops 6
                                <span class="text-xs block text-gray-400">Action Shooter</span>
                            </a>
                            <hr>
                            <a class="block transition-colors hover:text-orange-300 text-gray-300" href="https://eu.shop.battle.net/en-us/family/call-of-duty">
                                <img src="https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/blt38fbd5bc534f9d8d/666b3646e3720f794c00428c/-Bnet_Game-Shop_Icon-EN-1080x1080.svg" alt="" class="w-[35px] inline-block ">
                                Modern Warfare III
                                <span class="text-xs block text-gray-400">Action Shooter</span>
                            </a>
                            <hr>
                            <a class="block transition-colors hover:text-orange-300 text-gray-300" href="https://eu.shop.battle.net/en-us/family/call-of-duty">
                                <img src="https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/blt38fbd5bc534f9d8d/666b3646e3720f794c00428c/-Bnet_Game-Shop_Icon-EN-1080x1080.svg" alt="" class="w-[35px] inline-block ">
                                Warzone
                                <span class="text-xs block text-gray-400">Action Shooter</span>
                            </a>
                            <hr>
                            <a class="block transition-colors hover:text-orange-300 text-gray-300" href="https://eu.shop.battle.net/en-us/family/call-of-duty">
                                <img src="https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/blt38fbd5bc534f9d8d/666b3646e3720f794c00428c/-Bnet_Game-Shop_Icon-EN-1080x1080.svg" alt="" class="w-[35px] inline-block ">
                                Modern Warfare II
                                <span class="text-xs block text-gray-400">Action Shooter</span>
                            </a>
                            <hr>
                            <a class="block transition-colors hover:text-orange-300 text-gray-300" href="https://eu.shop.battle.net/en-us/family/call-of-duty-vanguard">
                                <img src="https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/blt38fbd5bc534f9d8d/666b3646e3720f794c00428c/-Bnet_Game-Shop_Icon-EN-1080x1080.svg" alt="" class="w-[35px] inline-block ">
                                Vanguard
                                <span class="text-xs block text-gray-400">Action Shooter</span>
                            </a>
                            <hr>
                            <a class="block transition-colors hover:text-orange-300 text-gray-300" href="https://eu.shop.battle.net/en-us/family/call-of-duty-black-ops-cold-war">
                                <img src="https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/blt38fbd5bc534f9d8d/666b3646e3720f794c00428c/-Bnet_Game-Shop_Icon-EN-1080x1080.svg" alt="" class="w-[35px] inline-block ">
                                Black Ops Cold War
                                <span class="text-xs block text-gray-400">Action Shooter</span>
                            </a>
                            <hr>
                            <a class="block transition-colors hover:text-orange-300 text-gray-300" href="https://eu.shop.battle.net/en-us/family/call-of-duty-mw">
                                <img src="https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/blt38fbd5bc534f9d8d/666b3646e3720f794c00428c/-Bnet_Game-Shop_Icon-EN-1080x1080.svg" alt="" class="w-[35px] inline-block ">
                                Modern Warfare
                                <span class="text-xs block text-gray-400">Action Shooter</span>
                            </a>
                            <hr>
                            <a class="block transition-colors hover:text-orange-300 text-gray-300" href="https://eu.shop.battle.net/en-us/family/call-of-duty-mw2cr">
                                <img src="https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/blt38fbd5bc534f9d8d/666b3646e3720f794c00428c/-Bnet_Game-Shop_Icon-EN-1080x1080.svg" alt="" class="w-[35px] inline-block ">
                                Modern Warfare Rebuild
                                <span class="text-xs block text-gray-400">Action Shooter</span>
                            </a>
                        </div>
                    </a>
                </li>
                <!-- DOOM -->
                <li class="relative group leading-[56px] hover:text-orange-300">
                    <a href="#">
                        DOOM
                        <div class="absolute opacity-0 invisible group-hover:opacity-100 group-hover:visible top-full w-[240px] h-[65px] px-3 py-0 space-y-2 text-zinc-700 bg-gray-700 dark:bg-zinc-700 dark:text-white text-base border-t-[3px] border-t-orange-300 tracking-normal shadow-main rounded-2xl transition-all">
                            <a class="block transition-colors text-gray-300  hover:text-orange-300" href="https://eu.shop.battle.net/en-us/product/doom-the-dark-ages">
                                <img src="https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/blt38fbd5bc534f9d8d/666b3646e3720f794c00428c/-Bnet_Game-Shop_Icon-EN-1080x1080.svg" alt="" class="w-[35px] inline-block ">
                                DOOM: The Dark Ages
                                <span class="text-xs block text-gray-400">Action Shooter</span>
                            </a>
                        </div>
                    </a>
                </li>
                <!-- More -->
                <li class="relative group leading-[56px] hover:text-orange-300">
                    <a href="#">
                        More
                        <div class="absolute opacity-0 invisible group-hover:opacity-100 group-hover:visible top-full w-[250px] h-[430px] px-3 py-0 space-y-2 text-zinc-700 bg-gray-700 dark:bg-zinc-700 dark:text-white text-base border-t-[3px] border-t-orange-300 tracking-normal     shadow-main rounded-2xl transition-all">
                            <a class="block transition-colors text-gray-300  hover:text-orange-300" href="https://eu.shop.battle.net/en-us/product/avowed">
                                <img src="https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/blt38fbd5bc534f9d8d/666b3646e3720f794c00428c/-Bnet_Game-Shop_Icon-EN-1080x1080.svg" alt="" class="w-[35px] inline-block ">
                                Avowed
                                <span class="text-xs block text-gray-400">First-Person Fantasy RPG</span>
                            </a>
                            <hr>
                            <a class="block transition-colors hover:text-orange-300 text-gray-300" href="https://eu.shop.battle.net/en-us/product/blizzard-arcade-collection">
                                <img src="https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/blt38fbd5bc534f9d8d/666b3646e3720f794c00428c/-Bnet_Game-Shop_Icon-EN-1080x1080.svg" alt="" class="w-[35px] inline-block ">
                                Blizzard Arcade Collection
                                <span class="text-xs block text-gray-400">Bundle</span>
                            </a>
                            <hr>
                            <a class="block transition-colors hover:text-orange-300 text-gray-300" href="https://eu.shop.battle.net/en-us/product/crash-bandicoot-4">
                                <img src="https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/blt38fbd5bc534f9d8d/666b3646e3720f794c00428c/-Bnet_Game-Shop_Icon-EN-1080x1080.svg" alt="" class="w-[35px] inline-block ">
                                Crash Bandicoot 4
                                <span class="text-xs block text-gray-400">Platformer</span>
                            </a>
                            <hr>
                            <a class="block transition-colors hover:text-orange-300 text-gray-300" href="https://eu.shop.battle.net/en-us/family/heroes-of-the-storm">
                                <img src="https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/blt38fbd5bc534f9d8d/666b3646e3720f794c00428c/-Bnet_Game-Shop_Icon-EN-1080x1080.svg" alt="" class="w-[35px] inline-block ">
                                Heroes Of The Storm
                                <span class="text-xs block text-gray-400">MOBA</span>
                            </a>
                            <hr>
                            <a class="block transition-colors hover:text-orange-300 text-gray-300" href="https://eu.shop.battle.net/en-us/family/starcraft-remastered">
                                <img src="https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/blt38fbd5bc534f9d8d/666b3646e3720f794c00428c/-Bnet_Game-Shop_Icon-EN-1080x1080.svg" alt="" class="w-[35px] inline-block ">
                                StarCraft
                                <span class="text-xs block text-gray-400">Real-Time Strategy</span>
                            </a>
                            <hr>
                            <a class="block transition-colors hover:text-orange-300 text-gray-300" href="https://eu.shop.battle.net/en-us/family/starcraft-ii">
                                <img src="https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/blt38fbd5bc534f9d8d/666b3646e3720f794c00428c/-Bnet_Game-Shop_Icon-EN-1080x1080.svg" alt="" class="w-[35px] inline-block ">
                                StarCraft 2
                                <span class="text-xs block text-gray-400">Real-Time Strategy</span>
                            </a>
                            <hr>
                            <a class="block transition-colors hover:text-orange-300 text-gray-300" href="https://eu.shop.battle.net/en-us/product/tony-hawks-pro-skater-3-4">
                                <img src="https://blz-contentstack-images.akamaized.net/v3/assets/bltf408a0557f4e4998/blt38fbd5bc534f9d8d/666b3646e3720f794c00428c/-Bnet_Game-Shop_Icon-EN-1080x1080.svg" alt="" class="w-[35px] inline-block ">
                                Tony Hawk`s Pro Skater 3+4
                                <span class="text-xs block text-gray-400">Extreme Action Sports</span>
                            </a>
                        </div>
                    </a>
                </li>
            </div>
        </div>
        <!-- .................................................................................................................................... -->
  <!-- ........................................................................................................ -->
         <!-- .............................................................. -->
        <!-- Battle.net Balance -->
        <div class="flex items-center space-x-4">
            <!-- search -->
            <input id="search" placeholder="Search In Battle.net" class="bg-gray-600 hover:bg-gray-700 px-[80px] py-3 rounded font-medium text-white hover:text-amber-300 text-center max-[1550px]:hidden">
                </input>
            <div class="flex items-center space-x-1  hover:bg-gray-700 px-4 py-3 rounded font-medium">
                <li class="relative group leading-[25px] hover:text-orange-300 max-[1550px]:hidden">
                    <a href="#">
                        Battle.net Balance
                        <div class="absolute opacity-0 invisible group-hover:opacity-100 group-hover:visible top-full w-[180px] h-[170px] px-3 my-4 py-0 space-y-2 text-zinc-600 bg-gray-700 dark:bg-zinc-700 dark:text-white text-base border-t-[3px] border-t-orange-300 tracking-normal shadow-main rounded-2xl transition-all text-center">
                            <a class="block transition-colors text-gray-300  hover:text-orange-300" href="https://us.shop.battle.net/en-us/product/balance">
                                <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle inline-block" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                  </svg>
                                Add Balance
                            </a>
                            <hr>
                            <a class="block transition-colors hover:text-orange-300 text-gray-300" href="https://us.shop.battle.net/en-us/product/balance">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gift inline-block" viewBox="0 0 16 16">
                                    <path d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 14.5V7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A3 3 0 0 1 3 2.506zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43zM9 3h2.932l.023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0zM1 4v2h6V4zm8 0v2h6V4zm5 3H9v8h4.5a.5.5 0 0 0 .5-.5zm-7 8V7H2v7.5a.5.5 0 0 0 .5.5z"/>
                                  </svg>
                                Gift Balance
                            </a>
                            <hr>
                            <a class="block transition-colors hover:text-orange-300 text-gray-300" href="https://account.battle.net/transactions?_gl=1*it26ll*_gcl_au*MTk1NDA4MzkyMC4xNzQyMjE3MzA4*_ga*Mzc1NTc0NjAyLjE3NDIyMTczMDY.*_ga_VYKNV7C0S3*MTc0NDIxNjkzOS4yMS4wLjE3NDQyMTY5MzkuNjAuMC4w">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-history inline-block" viewBox="0 0 16 16">
                                    <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"/>
                                    <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"/>
                                    <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"/>
                                  </svg>
                                Balance History
                            </a>
                            <hr>
                            <a class="block transition-colors hover:text-orange-300 text-gray-300" href="https://us.battle.net/support/article/25904?_gl=1*it26ll*_gcl_au*MTk1NDA4MzkyMC4xNzQyMjE3MzA4*_ga*Mzc1NTc0NjAyLjE3NDIyMTczMDY.*_ga_VYKNV7C0S3*MTc0NDIxNjkzOS4yMS4wLjE3NDQyMTY5MzkuNjAuMC4w">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle inline-block" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                                  </svg>
                                Balance Help
                            </a>
                        </div>
                    </a>
                </li>
        </div>
        <!-- Hidden Button Right-->
            <!-- Toggle Button -->
            <button id="toggleButton" class="sar text-white hover:text-gray-300 px-4 py-2 2xl:hidden">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
              </svg>
            </button>
    <!-- Card Container -->
    <div id="cardContainer"
        class="fixed top-0 right-0 h-full w-0 overflow-hidden bg-black bg-opacity-75 backdrop-blur-lg shadow-lg transition-all duration-300">
        <!-- Close Button -->
        <button id="closeButton" class="text-red-500 absolute top-6 right-6 z-30">
            <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </button>
        <a href="https://us.shop.battle.net/en-us" class="text-2xl font-bold text-blue-400 absolute top-6 left-11 z-30">BATTLE.NET</a>
        <!-- Card Content -->
        <div class="w-full h-full px-8 py-16 relative">
            <div class="w-full h-auto flex flex-col gap-y-1 mt-6">
                <a href="https://account.battle.net/creation?locale=en-us"><div
                  class="w-full h-auto flex items-center gap-x-4 text-gray-200 hover:text-gray-100 hover:bg-indigo-600 rounded-md px-4 py-3 ease-out duration-500 cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                  </svg>
                  <h1 class="text-base font-medium">Create Account</h1>
              </div></a>
              <!--  -->
               <a href="https://account.battle.net/?locale=en-us"> <div
                class="w-full h-auto flex items-center gap-x-4 text-gray-200 hover:text-gray-100 hover:bg-indigo-600 rounded-md px-4 py-3 ease-out duration-500 cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-person-gear" viewBox="0 0 16 16">
                  <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m.256 7a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1zm3.63-4.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382zM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
                </svg>
                <h1 class="text-base font-medium">Account Setting</h1>
            </div></a>
            <!--  -->
               <a href="https://shop.battle.net/en-us/product/battle-tag-name-change"> <div
                class="w-full h-auto flex items-center gap-x-4 text-gray-200 hover:text-gray-100 hover:bg-indigo-600 rounded-md px-4 py-3 ease-out duration-500 cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-tags" viewBox="0 0 16 16">
                  <path d="M3 2v4.586l7 7L14.586 9l-7-7zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586z"/>
                  <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1z"/>
                </svg>
                <h1 class="text-base font-medium">Change BattleTag</h1>
            </div></a>
            <!--  -->
                <a href="https://download.battle.net/en-us/mobile"><div
                  class="w-full h-auto flex items-center gap-x-4 text-gray-200 hover:text-gray-100 hover:bg-indigo-600 rounded-md px-4 py-3 ease-out duration-500 cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
                    <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                    <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
                  </svg>
                  <h1 class="text-base font-medium">Battle.net Mobile App</h1>
              </div></a>
              <!--  -->
                <a href="https://shop.battle.net/en-us/wishlist"><div
                  class="w-full h-auto flex items-center gap-x-4 text-gray-200 hover:text-gray-100 hover:bg-indigo-600 rounded-md px-4 py-3 ease-out duration-500 cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                  </svg>
                  <h1 class="text-base font-medium">Whish List</h1>
              </div></a>
              <!--  -->
              <a href="https://battle.net/shop/en-us/checkout/key-claim"><div
                class="w-full h-auto flex items-center gap-x-4 text-gray-200 hover:text-gray-100 hover:bg-indigo-600 rounded-md px-4 py-3 ease-out duration-500 cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upc-scan" viewBox="0 0 16 16">
                  <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5M3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0z"/>
                </svg>
                <h1 class="text-base font-medium">Redeem Code</h1>
            </div></a>
              <!--  -->
                <a href="https://battle.net/support/en-us/"><div
                  class="w-full h-auto flex items-center gap-x-4 text-gray-200 hover:text-gray-100 hover:bg-indigo-600 rounded-md px-4 py-3 ease-out duration-500 cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="lucide lucide-headset">
                      <path
                          d="M3 11h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-5Zm0 0a9 9 0 1 1 18 0m0 0v5a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3Z" />
                      <path d="M21 16v2a4 4 0 0 1-4 4h-5" />
                  </svg>
                  <h1 class="text-base font-medium">Support</h1>
              </div></a>
              <!--  -->
              <input id="search" placeholder="Search..." class="bg-gray-600 hover:bg-gray-700 px-[80px] py-3 rounded font-medium text-white hover:text-amber-300 text-center mt-4">
                </input>
            </div>
            <div
                class="absolute bottom-6 left-0 px-8 w-full h-auto text-center border-t border-gray-800 pt-6 text-white text-sm font-thin">
                Copyright © 2024. All rights reserved.
            </div>
        </div>
    </div>
        </div>
    </nav>
